**1. get(key[, default])**

**Question: Get "salary" and return 0 if not present**

In [ ]:
d = {"name": "Alex", "age": 25}
print(d.get("salary", 0))

0

**2. keys()**

**Question: Print all keys**

In [ ]:
d = {"a": 1, "b": 2, "c": 3}
print(d.keys())

dict_keys(['a', 'b', 'c'])

**3. values()**

**Question: Print all values**

In [ ]:
d = {"x": 10, "y": 20, "z": 30}
print(d.values())

dict_values([10, 20, 30])

**4. items()**

**Question: Print keyâ€“value pairs**

In [ ]:
d = {"name": "John", "age": 30}

for k, v in d.items():
    print(k, ":", v)

name : John
age : 30

**5. update()**

**Question: Add city and update age**

In [ ]:
d = {"name": "Emma", "age": 28}
d.update({"city": "London", "age": 29})
print(d)

{'name': 'Emma', 'age': 29, 'city': 'London'}

**6. pop(key[, default])**

**Question: Remove key "b" and store its value**

In [ ]:
d = {"a": 1, "b": 2, "c": 3}
x = d.pop("b")
print(x)
print(d)

2
{'a': 1, 'c': 3}

**7. popitem()**

**Question: Remove last inserted item**

In [ ]:
d = {"a": 1, "b": 2, "c": 3}
item = d.popitem()
print(item)
print(d)

('c', 3)
{'a': 1, 'b': 2}

**8. clear()**

**Question: Remove all items**

In [ ]:
d = {"x": 1, "y": 2}
d.clear()
print(d)

{}

**9. copy()**

**Question: Create independent copy**

In [ ]:
d1 = {"a": 10, "b": 20}
d2 = d1.copy()

d2["c"] = 30
print(d1)
print(d2)

{'a': 10, 'b': 20}
{'a': 10, 'b': 20, 'c': 30}

**10. setdefault(key[, default])**

**Question: Add "country" if not present**

In [ ]:
d = {"name": "Alice"}
d.setdefault("country", "India")
print(d)

{'name': 'Alice', 'country': 'India'}

**11. fromkeys(iterable, value)**

**Question: Create dictionary with keys and value 0**

In [ ]:
keys = ["a", "b", "c"]
d = dict.fromkeys(keys, 0)
print(d)

{'a': 0, 'b': 0, 'c': 0}

**12. Create a dictionary from two lists: keys = ['a', 'b', 'c'], values = [1, 2, 3].**

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

d = dict(zip(keys, values))
print(d)

{'a': 1, 'b': 2, 'c': 3}

**13. Check if a key "salary" exists in a dictionary**

In [ ]:
d = {"name": "Alex", "age": 25}

if "salary" in d:
    print("Key exists")
else:
    print("Key does not exist")

Key does not exist

**14. Find the length of a dictionary**

In [ ]:
d = {"a": 1, "b": 2, "c": 3}
print(len(d))

3

**15. Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}**

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}