**1. append()**

**Question: Add 5, 10, 15 to an empty list**

In [ ]:
lst = []
lst.append(5)
lst.append(10)
lst.append(15)
print(lst)

[5, 10, 15]

**2. extend()**

**Question: Merge [4, 5, 6] into [1, 2, 3]**

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

**3. insert()**

**Question: Insert 30 at index 2**

In [ ]:
lst = [10, 20, 40, 50]
lst.insert(2, 30)
print(lst)

[10, 20, 30, 40, 50]

**4. remove()**

**Question: Remove first occurrence of 2**

In [ ]:
lst = [1, 2, 3, 2, 4]
lst.remove(2)
print(lst)

[1, 3, 2, 4]

**5. pop()**

**Question: Remove and store last element**

In [ ]:
lst = [100, 200, 300, 400]
x = lst.pop()
print(x)
print(lst)

400
[100, 200, 300]

**6. clear()**

**Question: Remove all elements from the list**

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.clear()
print(lst)

[]

**7. index()**

**Question: Find index of 'banana'**

In [ ]:
lst = ['apple', 'banana', 'cherry']
print(lst.index('banana'))

1

**8. count()**

**Question: Count occurrences of 2**

In [ ]:
lst = [1, 2, 2, 3, 2, 4]
print(lst.count(2))

3

**9. sort()**

**Question: Sort list in ascending order**

In [ ]:
lst = [5, 1, 4, 2, 3]
lst.sort()
print(lst)

[1, 2, 3, 4, 5]

**10. reverse()**

**Question: Reverse the list**

In [ ]:
lst = [10, 20, 30, 40]
lst.reverse()
print(lst)

[40, 30, 20, 10]

**11. copy()**

**Question: Create an independent copy**

In [ ]:
lst1 = [1, 2, 3]
lst2 = lst1.copy()

lst2.append(4)
print(lst1)
print(lst2)

[1, 2, 3]
[1, 2, 3, 4]