**Basic Function Coding Questions**

**1. To find the square of a number**

In [ ]:
def square(n):
    return n * n

print(square(5))

25

**2. Maximum of two numbers**

In [ ]:
def maximum(a, b):
    return a if a > b else b

print(maximum(10, 20))

20

**Check if a Number is Prime**

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

print(is_prime(7))

True

**4. Calculate factorial of a number**

In [ ]:
def factorial(n):
    f = 1
    for i in range(1, n + 1):
        f *= i
    return f

print(factorial(5))

120

**5. Reverse a string**

In [ ]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("Python"))

nohtyP

**POSITIONAL & KEYWORD ARGUMENTS**

**6. Sum using positional arguments**

In [ ]:
def add(a, b):
    return a + b

print(add(10, 15))

25

**7. Name and age using keyword arguments**

In [ ]:
def show(name, age):
    print(name, age)

show(age=21, name="Alex")

Alex 21

**8. Wrong order gives different output**

In [ ]:
def subtract(a, b):
    return a - b

print(subtract(10, 5))
print(subtract(5, 10))

5
-5

**9. Area of rectangle using keyword arguments**

In [ ]:
def area(length, width):
    return length * width

print(area(width=4, length=6))

24

**DEFAULT ARGUMENTS**

**10. Simple interest (default rate = 5%)**

In [ ]:
def simple_interest(p, t, r=5):
    return (p * t * r) / 100

print(simple_interest(1000, 2))

100.0

**11. Power with of a number (default exponent = 2)**

In [ ]:
def power(a, b=2):
    return a ** b

print(power(5))
print(power(5, 3))

25
125

**12. Append an element to a list using a default parameter**

In [ ]:
def add_item(item, lst=None):
    if lst is None:
        lst = []
    lst.append(item)
    return lst

print(add_item(10))
print(add_item(20))

[10]
[20]

**13. Demonstrates the issue with mutable default arguments**

In [ ]:
def add_item(item, lst=[]):
    lst.append(item)
    return lst

print(add_item(10))
print(add_item(20))

[10]
[10, 20]

*args (Variable-Length Positional Arguments)

**14. Accepts any number of integers and returns their sum**

In [ ]:
def total(*args):
    return sum(args)

print(total(1, 2, 3, 4))

10

**15. Accepts any number of numbers and returns the maximum**

In [ ]:
def max_value(*args):
    return max(args)

print(max_value(10, 5, 25, 15))

25

**16. Multiplies all numbers passed using** *args

In [ ]:
def multiply(*args):
    result = 1
    for i in args:
        result *= i
    return result

print(multiply(2, 3, 4))

24

**17. Counts how many arguments were passed**

In [ ]:
def count_args(*args):
    return len(args)

print(count_args(10, 20, 30, 40))

4

**kwargs (Variable-Length Keyword Arguments)

**18. prints all keyâ€“value pairs passed using** **kwargs

In [ ]:
def show_pairs(**data):
    for k, v in data.items():
        print(k, ":", v)

show_pairs(name="Alex", age=20, city="Delhi")

name : Alex
age : 20
city : Delhi

**19. Accepts student details and prints them neatly**

In [ ]:
def student_details(**details):
    for k, v in details.items():
        print(k, ":", v)

student_details(name="Ravi", roll=101, course="Python")

name : Ravi
roll : 101
course : Python

**20. Calculates total marks using values from** **kwargs

In [ ]:
def total_marks(**marks):
    return sum(marks.values())

print(total_marks(math=80, science=75, english=85))

240

**Positional-Only Arguments**

**21. Accept two numbers as positional-only arguments and returns their difference**

In [ ]:
def difference(a, b, /):
    return a - b

print(difference(20, 5))

15

**22. Calculates division using positional-only arguments**

In [ ]:
def divide(a, b, /):
    return a / b

print(divide(20, 4))

5.0

**Keyword-Only Arguments**

**23. Operation as keyword-only argument**

In [ ]:
def calculate(a, b, *, operation):
    if operation == "add":
        return a + b
    elif operation == "sub":
        return a - b

print(calculate(10, 5, operation="add"))
print(calculate(10, 5, operation="sub"))

15
5

**24. Salary with keyword-only bonus**

In [ ]:
def salary(basic, *, bonus):
    return basic + bonus

print(salary(30000, bonus=5000))

35000

**Mixed Argument Types**

**25. Accepts: one positional argument, one default argument,**
*args, **kwargs **and prints everything.**

In [ ]:
def demo(a, b=10, *args, **kwargs):
    print("Positional:", a)
    print("Default:", b)
    print("*args:", args)
    print("**kwargs:", kwargs)

demo(5, 20, 30, 40, name="Alex", city="Delhi")

Positional: 5
Default: 20
*args: (30, 40)
**kwargs: {'name': 'Alex', 'city': 'Delhi'}

**26. User activity log using mixed arguments**

In [ ]:
def log_activity(user, action="login", *devices, **info):
    print("User:", user)
    print("Action:", action)
    print("Devices:", devices)
    print("Info:", info)

log_activity("Ravi", "logout", "mobile", "laptop", ip="192.168.1.1")

User: Ravi
Action: logout
Devices: ('mobile', 'laptop')
Info: {'ip': '192.168.1.1'}

**Lambda (One-Line Function)**

**27. Add two numbers**

In [ ]:
add = lambda a, b: a + b
print(add(10, 20))

30

**28. Check if a number is even**

In [ ]:
even = lambda n: n % 2 == 0
print(even(8))
print(even(7))

True
False

**29. Square of each element in a list**

In [ ]:
nums = [1, 2, 3, 4]
print(list(map(lambda x: x*x, nums)))

[1, 4, 9, 16]

**30. Convert list to uppercase using map()**

In [ ]:
names = ["python", "java", "c"]
print(list(map(lambda x: x.upper(), names)))

['PYTHON', 'JAVA', 'C']

**31. Get odd numbers using filter()**

In [ ]:
nums = [1, 2, 3, 4, 5]
print(list(filter(lambda x: x % 2 != 0, nums)))

[1, 3, 5]

**32. Sort tuples by second element using sorted()**

In [ ]:
t = [(1, 3), (2, 1), (4, 2)]
print(sorted(t, key=lambda x: x[1]))

[(2, 1), (4, 2), (1, 3)]

**33. Maximum of two numbers**

In [ ]:
max_num = lambda a, b: a if a > b else b
print(max_num(15, 25))

25