**Tuple Operations**

**1. Create a tuple with 5 elements**

In [ ]:
t = (10, 20, 30, 40, 50)
print(t)

(10, 20, 30, 40, 50)

**2. Access the 3rd element of a tuple**

In [ ]:
t = (10, 20, 30, 40, 50)
print(t[2])

30

**3. Find the length of a tuple**

In [ ]:
t = (10, 20, 30, 40, 50)
print(len(t))

5

**4. Check whether an element exists in a tuple**

In [ ]:
t = (10, 20, 30, 40, 50)

print(30 in t)
print(60 in t)

True
False

**5. Convert a list into a tuple**

In [ ]:
lst = [1, 2, 3, 4]
t = tuple(lst)
print(t)

(1, 2, 3, 4)

**6. Find maximum and minimum in a tuple**

In [ ]:
t = (5, 2, 9, 1, 7)
print(max(t))
print(min(t))

9
1

**7. Count how many times an element appears**

In [ ]:
t = (1, 2, 2, 3, 2, 4)
print(t.count(2))

3

**8. Find the index of an element**

In [ ]:
t = (10, 20, 30, 40)
print(t.index(30))

2

**9. Reverse a tuple**

In [ ]:
t = (1, 2, 3, 4)
rev = t[::-1]
print(rev)

(4, 3, 2, 1)

**10. Slice tuple to get first 3 elements**

In [ ]:
t = (10, 20, 30, 40, 50)
print(t[:3])

(10, 20, 30)