**Set Operations**

**1. Create a set with 5 elements**

In [ ]:
s = {10, 20, 30, 40, 50}
print(s)

{50, 20, 40, 10, 30}

**2. Add an element to a set**

In [ ]:
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

**3. Remove an element from a set**

In [ ]:
s = {1, 2, 3, 4}
s.remove(3)
print(s)

{1, 2, 4}

**4. Check if an element exists in a set**

In [ ]:
s = {10, 20, 30}

print(20 in s)
print(40 in s)

True
False

**5. Convert a list into a set**

In [ ]:
lst = [1, 2, 2, 3, 4]
s = set(lst)
print(s)

{1, 2, 3, 4}

**6. Find the union of two sets**

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))

{1, 2, 3, 4, 5}

**7. Find the intersection of two sets**

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.intersection(b))

{2, 3}

**8. Find the difference between two sets**

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.difference(b))

{1}

**9. Find the symmetric difference**

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.symmetric_difference(b))

{1, 4}

**10. Check if one set is a subset of another**

In [ ]:
a = {1, 2}
b = {1, 2, 3, 4}

print(a.issubset(b))

True

**11. Check if two sets are disjoint**

In [ ]:
a = {1, 2}
b = {3, 4}

print(a.isdisjoint(b))

True

**12. Remove duplicate elements from a list**

In [1]:
lst = [1, 2, 2, 3, 3, 4]
unique = list(set(lst))
print(unique)

[1, 2, 3, 4]